<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="createSiteLabel">Create Site</h4>
      </div>
      <div class="modal-body">
        <form role="form" id='createSiteForm'>
		  <div class="form-group">
		    <label for="siteName" class="control-label">Site Name</label>
		    <input type="text" class="form-control" id="siteName" placeholder="Enter site name" required>
		  </div>
		  <div class="form-group">
		    <label for="siteDescription" class="control-label">Description</label>
		    <textarea class="form-control" id="siteDescription"></textarea>
		  </div>
		  <div class="form-group">
		    <label for="subdomain" class="control-label">Subdomain</label>
		    <input type="text" class="form-control" id="subdomain" placeholder="Enter subdomain" required>
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="createSiteSubmit">Create Site</button>
      </div>
    </div>
  </div>